

/*GENERAL*/
h1{
  font-size: 3vw;
  color: goldenrod ;

}
h2{
  font-size: 2vw;

}

h3{
  font-size: 1.5vw;
  font-style: italic;
  color: rgb(172, 166, 166);
  margin-bottom:3%;
}
hr{
  margin-bottom: 3%;
}
a{
  text-decoration: none;
}

body{
    margin:0;
    padding:0;
    background-image: linear-gradient(to top, rgb(255, 255, 255) 10%, rgba(255, 255, 255, 0) 90%), url('../photos/half_page_background.jpg');
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
  }


/*NAVIGATION BAR*/
  
*{
  margin: 0;
  padding: 0;
  list-style:none;
  text-decoration:none;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

header{
  width: 100%;
  height: 90px;
  background-color:  #424040cc;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 100px;
}


.logo{
  height: 100%;
  width: 100%;
  margin-top: 2%;
  margin-bottom:1%;
}
.logo img{
 height:80%;
}

.hamburger{
  display: none;
}

.nav-bar ul{
  display: flex;
}

.nav-bar ul li a{
  display: block;
  color:whitesmoke;
  font-size: 1.5vw;
  padding: 10px, 25px;
  border-radius: 5px;
  transition: 0.2s;
  margin:0 16px;
}

.nav-bar ul li a:hover {
  color:goldenrod;
  background: whitesmoke;
  border:2px solid goldenrod;
}

.nav-bar ul li a.active{
  color:goldenrod;
  background: whitesmoke;
  border:2px solid goldenrod;
}

@media only screen and (max-width: 1320px){
  header{
      padding: 0 50px;
  }
}

@media only screen and (max-width: 1100px){
  header{
      padding: 0 30px;
  }
}

@media only screen and (max-width: 900px){
  .hamburger{
      display: block;
      cursor: pointer;
  }

  .hamburger .line{
      width:30px;
      height: 3px;
      background-color: black;
      margin:6px 0;        
  }

  .nav-bar{
      position:absolute;
      height:0;
      top:80px;
      left:0;
      right:0;
      width:100vw;
      background: #424040cc;
      transition: 0.2s;
      overflow: hidden;
  
  }

  .nav-bar ul{
      display:block;
      width: fit-content;
      margin: 80px auto 0 auto;
      text-align: center;
      transition: 0.5s;
      opacity: 0;
  }

  .nav-bar ul li a{
      margin-bottom: 12px;
  }
}


  /*TOP_BODY*/

    .top_body select{
     
        font-size: 2vw;
        padding: 10px 20px;
        border-radius: 30px;
        background-color: #5f5a59e3;
        border: 2px solid goldenrod;
        color: #FFFFFF;
        margin: 3% 0 0 26%;

    }
      
     .top_body select:focus{
        outline:none;
      }

    .SearchButton{
        position: fixed;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1;
        border-radius: 30px;
        background-color: #5f5a59e3;
        color: #FFFFFF;
        text-align: center;
        font-size: 2.5vw;
        padding: 10px 20px 10px 20px;
        width: auto;
        transition: all 0.5s;
        cursor: pointer;
        border: 2px solid goldenrod;
    
    }
    
    .SearchButton span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
    }
    
    .SearchButton span:after {
        content: '\00bb';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
    }
    
    .SearchButton:hover span {
        padding-right: 25px;
    }
    
    .SearchButton:hover span:after {
        opacity: 1;
        right: 0;
    }
    

    /*BOTTOM_BODY -> NOMINEES*/


   .nominee{
        display: flex;
        justify-content:space-between;
        align-items: center;
        height: 100%; /* Ajustează înălțimea la nevoie */
        padding: 3%;
        margin:5%;
        background-color: #424040cc;
        border-radius: 10px;
       
    }

    .image {
        flex: 1;
        position: relative;
        color: white;
        display: inline-block;
        margin-left:3%;
        margin-right:3%;
        height: 100%;
       

      }
    .image img{
        height: 100%;
        border-radius: 20px;
        border: 2px solid goldenrod;
        
    }
     .image:hover {
        opacity: 0.7;
       
      }

    .nomTitle{
        position: absolute;
        transform: translate(-50%, -50%); 
        background-color:rgba(0, 0, 0, 0.522);
        font-family: Arial, sans-serif;
        color: #fff; 
        width: 100%;
        font-size:3vw; 
        text-align: center; 
        margin:-15% 0 0 50%;
    
    }
      
    .text {
        flex: 1;
        color: #ddd;
        font-family: Arial, sans-serif;
    }
 

    @media (max-width: 700px) {
      .nominee {
        flex-wrap: wrap;
      }
    
      .text,
      .image {
        flex: 100%;
      }


    }


 /* FOOTER*/

  footer {
    background-color: #424040cc;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  .admin{
    color:#fff;
    text-decoration: none;
    font-size: 2vw;
    margin-bottom: 2vw;
  }
  .admin:hover{
    color:goldenrod;
    opacity: 1;
  }
  
  .footer-left img {
    height: 60px;
    width: auto;
  }
  
  .footer-right img {
    height: 30px;
    width: auto;
    margin-left: 10px;
  }
  
  @media (max-width: 500px) {
    footer {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .footer-left {
      margin-bottom: 10px;
    }
  
    .footer-right {
      display: flex;
      gap: 10px;
    }
  }