

/*GENERAL*/
h1{
    font-size: 3vw;
    color: goldenrod ;
  
  }
  h2{
    font-size: 2vw;
  
  }
  
  h3{
    font-size: 1.5vw;
    font-style: italic;
    color: rgb(172, 166, 166);
    margin-bottom:3%;
  }
  hr{
    margin-bottom: 3%;
  }
  a{
    text-decoration: none;
  }
  
  body{
      margin:0;
      padding:0;
      background-image: linear-gradient(to top, rgb(255, 255, 255) 10%, rgba(255, 255, 255, 0) 90%), url('../photos/half_page_background.jpg');
      background-position: center;
      background-size:cover;
      background-repeat: no-repeat;
    }
    
  
 /*SEARCH BAR*/

 .search-container {
    display: flex;
    align-items: center;
    max-width: 100%;
    margin-bottom: 100%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
  }
  
  .search-bar {
    flex: 1;
    padding: 7px;
    font-size: 1.5vw;
    border: 2px solid goldenrod;
    border-radius: 4px;
  }
  
  .advanced-search-button {
    margin-left: 5%;
    border: none;
    border-radius: 30px;
    background-color: #5f5a59e3;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 1.5vw;
    padding: 10px 20px 10px 20px;
    width: auto;
    transition: all 0.5s;
    cursor: pointer;
    border: 2px solid goldenrod;
    
  }


  @media (max-width: 600px) {
    .search-container {
      flex-wrap: wrap;
      justify-content: center;
    }
  
    .search-bar {
      margin-bottom: 8px;
    }
  
    .advanced-search-button {
      margin-left: 0;
    }
  }
  
