<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/styles_nav_footer.css">
</head>
<body>
    <header>
    <div class="logo">
        <a href=""><img src="../photos/logo.png" alt="logo_nav_bar"></a>
    </div>
    <div class="hamburger">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
    <div class="nav-bar">
        <ul>
            <li>
                <a href="nominees.html" class="active">Nominees</a>
            </li>
            <li>
                <a href="news.html">News</a>
            </li>  
            <li>
                <a href="search.html">Search</a>
            </li>
            <li>
                <a href="../home.html">Home</a>
            </li>
        </ul>
    </div>
</header>
</body>
</html>

    