<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error 404 - Page Not Found</title>
    <link rel="stylesheet" href="../styles/styles_error.css">
</head>
<body>
    <div class="error-container">
        <h1>Error 404 - Page Not Found</h1>
        <p>The page you are looking for might have been removed, had its name changed, or is unaccesible for you.</p>
        <form action="../Home.php">
            <input type="submit" value="Return to Homepage">
        </form>
    </div>
</body>
</html>