<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NavBar</title>
    <link rel="stylesheet" href="styles/styles_nav_footer.css">
</head>
<body>
    <header>
    <div class="logo">
        <a href="Home.php"><img src="photos/logo.png" alt="logo_nav_bar"></a>
    </div>
    <div class="hamburger">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
    <div class="nav-bar">
        <ul>
            <li>
                <a href="Nominees.php">Nominees</a> 
            </li>
            <li>
                <a href="News.php">News</a>
            </li>  
            <li>
                <a href="Search.php">Search</a>
            </li>
            <li class="dropdown">
                <a>Statistics</a>
                <div class="dropdown-content">
                    <a href="StatisticsAge.php">Age statistic</a>
                    <a href="StatisticsMovies.php">Movies statistic</a>
                    <a href="StatisticsPopularity.php">Popularity statistic</a>
                </div>
            </li>
            <li>
                <a href="Home.php">Home</a>
            </li>
        </ul>
    </div>
</header>
</body>
</html>

    