$color_1: whitesmoke;
$color_2: goldenrod;
$font-family_1: Arial, Helvetica, sans-serif;
$background-color_1: #424040cc;
$background-color_2: black;
$height_1: 100px;
$border_1: 2px solid $color_2;


* {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	font-family: $font-family_1;
	box-sizing: border-box;
}

header {
	width: 100%;
	height: $height_1;
	background-color: $background-color_1;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 100px;
}
.logo {
	height: 100%;
	width: 100%;
	margin-top: 2%;
	margin-bottom: 1%;
	img {
		height: 80%;
	}
}
.hamburger {
	display: none;
}
.nav-bar {
	ul {
		display: flex;
		li {
			a {
				display: block;
				color: $color_1;
				font-size: 1.5vw;
				padding: 10px, 25px;
				border-radius: 5px;
				transition: 0.2s;
				margin: 0 16px;
				&:hover {
					color: $color_2;
					background:$color_1;
					border: $border_1;
				}
			}
			a.active {
				color: $color_2;
				background: whitesmoke;
				border: $border_1;
			}
		}
	}
}

footer {
	background-color: $background-color_1;
	color: $color_1;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10%;
}
.admin {
	color: $color_1;
	text-decoration: none;
	font-size: 1vw;
	&:hover {
		color: $color_2;
		opacity: 1;
	}
}
.footer-left {
	img {
		height: 60px;
		width: auto;
	}
}
.footer-right {
	img {
		height: 30px;
		width: auto;
		margin-left: 10px;
	}
}


@media only screen and (max-width: 1320px) {
	header {
		padding: 0 50px;
	}
}
@media only screen and (max-width: 1100px) {
	header {
		padding: 0 30px;
	}
}
@media only screen and (max-width: 900px) {
	.hamburger {
		display: block;
		cursor: pointer;
		.line {
			width: 30px;
			height: 3px;
			background-color: $background-color_2;
			margin: 6px 0;
		}
	}
	.nav-bar {
		position: absolute;
		height: 0;
		top: 80px;
		left: 0;
		right: 0;
		width: 100vw;
		background: $background-color_1;
		transition: 0.2s;
		overflow: hidden;
		ul {
			display: block;
			width: fit-content;
			margin: 80px auto 0 auto;
			text-align: center;
			transition: 0.5s;
			opacity: 0;
			li {
				a {
					margin-bottom: 12px;
				}
			}
		}
	}
}
@media (max-width: 500px) {
	footer {
		flex-direction: column;
		align-items: flex-start;
	}
	.footer-left {
		margin-bottom: 10px;
	}
	.footer-right {
		display: flex;
		gap: 10px;
	}
}
