
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.sidebar {
    width: 200px; 
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #424040cc; 
    padding: 20px;
    color: #fff;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.sidebar h1 {
    color:#f39c12;
    margin-bottom: 20px;
    font-size: 24px;
}

.button-container {
    display: flex;
    flex-direction: column;
}

.button {
    margin-bottom: 10px;
    padding: 10px 0;
    border: none;
    background-color: rgba(255, 255, 255, 0.2); 
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 5px; 
}

.button:hover {
    background-color: goldenrod;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); 
}
