
h1 {
  font-size: 1.5vw;
  color: goldenrod;
}

h2 {
  font-size: 1.2vw;
  color: rgb(255, 255, 255);
  text-decoration: underline;
  text-decoration-color: goldenrod;
}

h3 {
  font-size: 1vw;
  font-style: italic;
  color: rgb(199, 194, 194);
}

p {
  font-size: 1vw;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to top, rgb(255, 255, 255) 10%, rgba(255, 255, 255, 0) 90%), url('../photos/half_page_background.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}


table {
  background-color: #424040e7; 
  border: 0.7vw solid black;
  border-radius: 15px;
  padding: 5%;
  margin: 3% 15%;
  border-collapse: separate;
  border-spacing: 0 1vw; 
}

th {
  background-color: #424040e2;
  border: 0.3vw solid goldenrod;
  border-radius: 15px;
  padding: 15px;
  text-align: left;
  font-size: 1.5vw; 
  color: goldenrod; 
  font-weight: bold; 
}

th:hover {
  opacity: 1;
}

td {
  background-color: #424040e2;
  border: 0.2vw solid grey; 
  border-radius: 10px; 
  padding: 15px;
  text-align: left;
}

tr {
  margin-bottom: 1vw;
}

button {
  font-size: 1.5vw;
  padding: 10px 20px;
  border-radius: 30px;
  background-color: #5f5a59e3;
  border: 2px solid goldenrod;
  color: #FFFFFF;
  margin: 0 0 3% 40%;
}

button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

button span:after {
  content: '\25BC';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

button:hover span {
  padding-right: 25px;
}

button:hover span:after {
  opacity: 1;
  right: 0;
}
