body{
    padding: 10%;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    text-decoration: underline;
    text-align: center;
    margin-bottom: 5%;
}

a{
    color:rgb(21, 140, 180);
    text-decoration: none;
}

a:hover{
    opacity: 0.9;
    color: rgb(5, 5, 111);
}

li{
    margin-bottom:1%;
    margin-top: 1%;
}
