
/*GENERAL*/
h1{
  font-size: 3vw;
  color: goldenrod ;

}
h2{
  font-size: 2vw;
  margin-bottom: -4%;
}

h3{
  font-size: 1.5vw;
  font-style: italic;
  color: rgb(172, 166, 166);
}

p{
  font-size: 2vw;

}
a{
  text-decoration: none;
}

body{
   /*  background-color:#424040cc ;*/
   margin:0;
   padding:0;

   background-image: linear-gradient(to top, rgb(255, 255, 255) 10%, rgba(255, 255, 255, 0) 90%), url('../photos/2slide.png');
   background-position: center;
   background-size:cover;
   background-repeat: no-repeat;
}


/*NAVIGATION BAR*/
.navbar {
    background-color: #424040cc;
    overflow: hidden;
    display: flex; /* Adaugă un container flexibil pentru a alinia elementele */
    align-items: center; /* Aliniază vertical elementele în centrul containerului */
   

    display: flex;
    padding: 2%,6%;
    justify-content:space-between;
    align-items: center;
    position: relative;
    z-index: 999;
  
  }
  
  .logo {
    margin: 2%; 
    display: flex; /* Adaugă un container flexibil pentru a alinia imaginea */
    align-items: center; /* Aliniază vertical imaginea în centrul containerului */

  }

  /* Style the links inside the navigation bar */
  .navbar a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    justify-content: flex-end; /* Aliniază elementele la dreapta containerului */
  }
  
  /* Change the color of links on hover */
  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .navbar a.active {
    background-color: #04AA6D;
    color: white;
  }


/* top_BODY*/


  section {
    position: relative; /* Needed for relative positioning of the button */
}

.slideshow-container {
  max-width: 100vw;
  position: relative;
  margin: auto;
  margin-top: -15%;
  z-index: 1;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -3%;
  padding: 2%;
  color: white;
  font-weight: bold;
  font-size: 3vw;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #545252;
  border-radius: 50%;
  border: 2px solid goldenrod;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #3c3939;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.button {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    border-radius: 30px;
    background-color: #5f5a59e3;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 2.5vw;
    padding: 10px 20px 10px 20px;
    width: auto;
    transition: all 0.5s;
    cursor: pointer;
    border: 2px solid goldenrod;

}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}


/*Bottom_body*/

.bottom_body {
  display: flex;
  justify-content:space-between;
  align-items: center;
  height: 100%; /* Ajustează înălțimea la nevoie */
  padding: 3%;
  margin:5%;
  background-color: #424040cc;
 /* background-color: #000000c8;*/
  border-radius: 10px;
  }

  .left_bottom_body {
    flex: 1;
    padding: 20px;
    
  }
  .left_bottom_body p {
   color: #ddd;
   font-family: Arial, sans-serif;
  }

  .right_bottom_body {
    flex: 1;
    position: relative;
    color: white;
    display: inline-block;
    margin-left:3%;
    margin-right:3%;
    height: 100%;
  }


  .right_bottom_body img {
    height: 100%;
    border-radius: 20px;
    border: 2px solid goldenrod;
  }

  @media (max-width: 768px) {
    .bottom_body {
      flex-wrap: wrap;
    }
  
    .left_bottom_body,
    .right_bottom_body {
      flex: 100%;
    }
  }


  /* Footer*/

  footer {
    background-color: #424040cc;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  
  .footer-left img {
    height: 40px;
    width: auto;
  }
  
  .footer-right img {
    height: 30px;
    width: auto;
    margin-left: 10px;
  }
  
  @media (max-width: 500px) {
    footer {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .footer-left {
      margin-bottom: 10px;
    }
  
    .footer-right {
      display: flex;
      gap: 10px;
    }
  }