
/*GENERAL*/
h1{
    font-size: 2.5vw;
    color: goldenrod ;
  
  }
  h2{
    font-size: 2vw;
    color: rgb(255, 255, 255) ;
    text-decoration: underline;
    text-decoration-color: goldenrod;
  }
  
  h3{
    font-size: 1.5vw;
    font-style: italic;
    color: rgb(199, 194, 194);
  }
  
  p{
    font-size: 2vw;
  
  }
  a{
    text-decoration: none;
  }
  
  body{
     /*  background-color:#424040cc ;*/
     margin:0;
     padding:0;
  
     background-image: linear-gradient(to top, rgb(255, 255, 255) 10%, rgba(255, 255, 255, 0) 90%), url('../photos/half_page_background.jpg');
       background-position: center;
       background-size:cover;
       background-repeat: no-repeat;
  }

  /*NAVIGATION BAR*/
.navbar {
    background-color: #424040cc;
    overflow: hidden;
    display: flex; /* Adaugă un container flexibil pentru a alinia elementele */
    align-items: center; /* Aliniază vertical elementele în centrul containerului */
   

    display: flex;
    padding: 2%,6%;
    justify-content:space-between;
    align-items: center;
  }
  
  .logo {
    margin: 2%; 
    display: flex; /* Adaugă un container flexibil pentru a alinia imaginea */
    align-items: center; /* Aliniază vertical imaginea în centrul containerului */

  }

  /* Style the links inside the navigation bar */
  .navbar a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    justify-content: flex-end; /* Aliniază elementele la dreapta containerului */
  }
  
  /* Change the color of links on hover */
  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .navbar a.active {
    background-color: #04AA6D;
    color: white;
  }

/*NEWS*/


table{
    background-color: #424040e7; 
    border: 0.7vw solid black;
    border-radius: 15px;
    padding: 1%;
    margin:3%;

}

th {
    background-color: #424040e2;
    border: 0.3vw solid goldenrod;
    border-radius: 15px;
  }
th:hover{
    opacity: 1;
}
button{
    font-size: 2vw;
        padding: 10px 20px;
        border-radius: 30px;
        background-color: #5f5a59e3;
        border: 2px solid goldenrod;
        color: #FFFFFF;
        margin: 0 0 3% 40%;

}
button span{
 
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
}
 button span:after {
    content: '\25BC';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

button:hover span {
    padding-right: 25px;
}

button:hover span:after {
    opacity: 1;
    right: 0;
}

  /* Footer*/

  footer {
    background-color: #424040cc;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  
  .footer-left img {
    height: 40px;
    width: auto;
  }
  
  .footer-right img {
    height: 30px;
    width: auto;
    margin-left: 10px;
  }
  
  @media (max-width: 500px) {
    footer {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .footer-left {
      margin-bottom: 10px;
    }
  
    .footer-right {
      display: flex;
      gap: 10px;
    }
  }